*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding:15x;
    text-align:center;
}
.main-container{
    position: absolute;
    width:100%;
    top: 50%;
    left:50%;
    transform:translate(-50%,50%)
}

 .star-rating-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.selected-rating-container{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.selected-rating-container p{
    font-size: 20px;
    font-weight: bold;
}

.fa-star:hover {
    cursor: pointer;
}

.fa-regular.fa-star{
 font-size: 56px;
 color: #cbd5e1;
 margin: 0 8px;
 cursor: pointer;
}
.fa-solid.fa-star{
 font-size: 56px;
 color: rgb(243, 243, 86);
 margin: 0 8px;
 cursor: pointer;
}